# Python
__pycache__

# Pypi
build
dist
*.egg-info
pip-wheel-metadata

# PyTest
.pytest_cache
pytest.xml

# MyPy
.mypy_cache

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea

# MacOS
.DS_Store
.localized
*~

# Dask
dask-worker-space/
